<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body >
<div class="wrapper">
     <div id="containerT">

    <div id="info">

      <img id="product" src="http://enwaara.se/codepen/product.png"/>

      <p>Activity Bracelet Surge</p>
      <p>Black</p>

      <div id="price">

        <h2>1 DT</h2>

      </div>
          <form id="myform" action="/handle_payment" method="post">
    <script
            src="https://developers.flouci.com/static/main.js"
            app="4bc20c76-9df5-41ee-a63a-90914072b393"
            data-amount="1000"
            data-name="Loula"
            data-description="Loula loula"
            data-image="https://de9luwq5d40h2.cloudfront.net/catalog/product/large_image/09_407044.jpg"
            data-id="TX12530"
            lang-key="ar">
    </script>
  </form>
    </div>
  </div>


<div id="containerT">

    <div id="info">

      <img id="product" class="phone-img" src="https://purepng.com/public/uploads/large/samsung-galaxy-s10-prism-front-6bx.png" />

      <p>Samsung Galaxy S10</p>
      <p>Black</p>

      <div id="price">

        <h2> 7 DT</h2>

      </div>
          <form id="myform" action="/handle_payment2" method="post">
    <script
            src="https://developers.flouci.com/static/main.js"
            app="4bc20c76-9df5-41ee-a63a-90914072b393"
            data-amount="7000"
            data-name="Maryoul"
            data-description="Maryoul flouci"
            data-image="https://de9luwq5d40h2.cloudfront.net/catalog/product/large_image/09_407044.jpg"
            data-id="TX12530"
            lang-key="fr">
    </script>
  </form>
    </div>
  </div>

  </div>




</body>
</html>